<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title }}</title>

    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container my-4">
      <h1 class="text-center">{{ title }}</h1>
      <div class="mt-4">
        {% for item in data %}
        <div class="card mb-3">
          <div class="card-body" >
            {% for key, value in item.items() %}
            <span style="display: flex; flex-direction: row">
              <h5 class="card-title">{{ key }}: </h5>
              <p class="card-text"> {{ value }}</p>
            </span>

            {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
